*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(14, 125, 223, 0.384);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    
    width: 300px;
    height: 400px;
    background-color: rgba(5, 0, 10, 0.658);
    color: white;
    border-radius: 5px;

}

.scrn{
    width: 100%;
    height: 100px;
    text-align: right;
    font-size: 35px;
    background-color: black;
    color: white;
    pointer-events: none;
}
.button{
    flex: 0 0 30px;
    flex-wrap: wrap;
    width: 60px;
    height: 50px;
    font-size: 25px;
    font-weight: bolder;
    margin: 6px;
}
.yellow{
    background-color: rgba(214, 214, 15, 0.87);
}
.grey{
    background-color: rgba(128, 128, 128, 0.993);
}
.cancel{
    background-color: red;
    width: 60px;
    height: 50px;
    font-size: 25px;
    font-weight: bolder;
    margin: 6px;
}
.equalsTo{
    background-color: green;
    width: 60px;
    height: 50px;
    font-size: 25px;
    font-weight: bolder;
    margin: 6px;
}